In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
pd.DataFrame(
    np.random.uniform(0, 1, size=(5, 4)),
    index = [
        ["period_1", "period_1", "period_1", "period_2", "period_3"],
        [1, 2, 3, 4, 5]
    ]
)

                   0         1         2         3
period_1 1  0.706819  0.374397  0.377108  0.582193
         2  0.606686  0.654498  0.478333  0.801688
         3  0.190505  0.795290  0.229409  0.704657
period_2 4  0.159576  0.246376  0.988094  0.420531
period_3 5  0.989363  0.893368  0.104818  0.460414